.wrapper {
    background-color:aqua;
    border-radius:20px;
    margin: 20px;
}

.input {
    display: block;
    background-color:chartreuse;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 43%;
    border: 2px solid red;
    border-radius: 8px;
}

.button {
    width: 120px;
    height: 40px;
    background: rgb(9, 213, 165);
    border-radius:10px;
    border:3px solid grey;
    color: white;
}